backend/dist/**
backend/build/**
backend/.dockerignore
backend/Dockerfile
backend/setup.cfg
backend/setup.py

frontend/node_modules/**
frontend/dist/**
frontend/.dockerignore
frontend/.gitignore
frontend/Dockerfile
frontend/nginx.conf

nginx/Dockerfile
nginx/nginx.conf

.env
.gcloudignore
insys-gcloud.py
docker-compose.yml
